.coral-identification {
  text-align: center;
  /* padding: 20px; */
  font-family: Arial, sans-serif;
}
  
.upload-box {
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  text-align: center;
  

}
  
.upload-area {
  border: 2px dashed #ccc;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  background-color: #00000091;
}

.output-area {
  border: 2px dashed #07419b;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  background-color: #d6ffe691;
}
  
.upload-area p {
  margin-bottom: 20px;
  color: #494949;
}
  
.upload-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
.upload-btn:hover {
  background-color: #0056b3;
}
  
.explore-coral-species {
  display: flex;
  justify-content: space-around;
  margin: 60px;
}

.coral-section {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url('../images/corals/aboutcorals-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 360px;
}
  
/* .coral-section-1 {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url('../images/corals/aboutcorals-bg.jpg');
  background-size: cover;
  background-position: center;
} */


  
.coral-section h3 {
  color: #bcdbff;
  margin-bottom: 10px;
  font-weight: bold;
}
  
.coral-section p {
  color: #bebebe;
  margin-bottom: 20px;
}
  
.learn-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
  
.learn-more-btn:hover {
  background-color: #0056b3;
}



/* banner section */
.banner-section-1 {
  background-image: url('../images/corals/coral-banner.jpg');
  background-size: cover;
  background-position: center;
  padding: 95px;
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: bolder;
  border-radius: 8px;
 
}

/* section-1 */
.section-1{
  background-color: rgb(216, 226, 230);
  padding: 15px;
  margin: 50px;
  border-radius: 6px;
  background-image: url('../images/corals/section-1-bg.jpg');
  background-size: cover;
  background-position: center;
}